data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Everyday Italian"/>
            <xs:enumeration value="Harry Potter"/>
            <xs:enumeration value="XQuery Kick Start"/>
            <xs:enumeration value="Learning XML"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="author" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Giada De Laurentiis"/>
            <xs:enumeration value="J K. Rowling"/>
            <xs:enumeration value="James McGovern"/>
            <xs:enumeration value="Per Bothner"/>
            <xs:enumeration value="Kurt Cagle"/>
            <xs:enumeration value="James Linn"/>
            <xs:enumeration value="Vaidyanathan Nagarajan"/>
            <xs:enumeration value="Erik T. Ray"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="year">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2005"/>
            <xs:enumeration value="2003"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="30"/>
            <xs:enumeration value="29.99"/>
            <xs:enumeration value="49.99"/>
            <xs:enumeration value="39.95"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="category">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="cooking"/>
            <xs:enumeration value="children"/>
            <xs:enumeration value="web"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>