module-3/assignments/assignment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType"/>
  <xs:complexType name="color_swatchType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="image" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sizeType">
    <xs:sequence>
      <xs:element type="color_swatchType" name="color_swatch" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="description" use="optional"/>
  </xs:complexType>
  <xs:complexType name="catalog_itemType">
    <xs:sequence>
      <xs:element name="item_number">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="QWZ5671"/>
            <xs:enumeration value="RRX9856"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="39.95"/>
            <xs:enumeration value="42.50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="sizeType" name="size" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="gender" use="optional"/>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element type="catalog_itemType" name="catalog_item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="product_id"/>
    <xs:attribute type="xs:string" name="description"/>
    <xs:attribute type="xs:string" name="product_image"/>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="productType" name="product"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>