project-topics/construction1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="city"/>
      <xs:element name="country">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="France"/>
            <xs:enumeration value="Canada"/>
            <xs:enumeration value="United States"/>
            <xs:enumeration value="Germany"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="region"/>
      <xs:element type="xs:string" name="street"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element type="xs:string" name="material" minOccurs="0"/>
      <xs:element type="xs:string" name="qty" minOccurs="0"/>
      <xs:element name="type" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Skid-Steer"/>
            <xs:enumeration value="Scraper"/>
            <xs:enumeration value="Dragline"/>
            <xs:enumeration value="Excavator"/>
            <xs:enumeration value="Grader"/>
            <xs:enumeration value="Backhoe"/>
            <xs:enumeration value="Dump Truck"/>
            <xs:enumeration value="Compactor"/>
            <xs:enumeration value="Bulldozer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="firstName" minOccurs="0"/>
      <xs:element type="xs:string" name="lastName" minOccurs="0"/>
      <xs:element type="xs:string" name="role" minOccurs="0"/>
      <xs:element type="addressType" name="address" minOccurs="0"/>
      <xs:element type="contractorsType" name="contractors" minOccurs="0"/>
      <xs:element type="xs:string" name="endDate" minOccurs="0"/>
      <xs:element type="equipmentType" name="equipment" minOccurs="0"/>
      <xs:element type="xs:string" name="startDate" minOccurs="0"/>
      <xs:element type="supplyType" name="supply" minOccurs="0"/>
      <xs:element type="workersType" name="workers" minOccurs="0"/>
      <xs:element name="name" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Fahey-Leffler"/>
            <xs:enumeration value="Gutmann-Rowe"/>
            <xs:enumeration value="Wisoky Inc"/>
            <xs:enumeration value="Koepp-O'Connell"/>
            <xs:enumeration value="Flatley, Fritsch and Kshlerin"/>
            <xs:enumeration value="Carroll, Dickinson and Kassulke"/>
            <xs:enumeration value="Stiedemann-Feeney"/>
            <xs:enumeration value="Bednar-Orn"/>
            <xs:enumeration value="Bednar, Kuhlman and Hyatt"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipmentType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplyType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workersType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contractorsType">
    <xs:sequence>
      <xs:element type="elementType" name="element"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>